<!DOCTYPE html>
<!-- C:\Program   Files\Git\node-js-getting-started /-->

<html lang="en">
	<head>
		<% include partials/header.ejs %>
		<meta charset="utf-8">
		<title>Profile</title>
		<link rel="stylesheet" href="profile.css"/ type="text/css">
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="915733896108-03kb0m46abmrm4qq59vvu650rp86fulm.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>

	<body>
		<% include partials/nav.ejs %>
		<% include partials/popupchat.ejs %>
		<img src="profileBG.jpg" alt="background" class="bg" />

		<div class="personality">
			<h1> My Personality</h1>
			<form name="qus" action="/profile" method="post">
			<p>
				<label class="lbl">Do you have good level of English?</label>


				<input type="range" id="start" name="sos1"
         min="0" max="100" value = "<%=r.n_1%>">
				 <script>
					  getElementById("start").ionRangeSlider({
					    min: 0,
					    max: 100,
					    from: 550
					  });
					</script>

			</p>
			<p>
				<label class="lbl">Are you a determined person?</label>
				<input type="range" id="start" name="sos2"
				 min="0" max="100" value = "<%=r.n_2%>">
				 <script>
						getElementById("start").ionRangeSlider({
							min: 0,
							max: 100,
							from: 550
						});
					</script>
				<!-- <input type="boolean" name="sos" value="<%=r.q_2%>"> -->
			</p>
			<!-- <p>
				<label class="lbl">Do you smoke cigarettes?</label>
				<input type="boolean" name="sos" value="<%=r.q_5%>">
			</p> -->
			<p>
				<label class="lbl">Do you like talking to people when you travel?</label>
				<input type="range" id="start" name="sos3"
				 min="0" max="100" value = "<%=r.n_3%>">
				 <script>
						getElementById("start").ionRangeSlider({
							min: 0,
							max: 100,
							from: 550
						});
					</script>
				<!-- <input type="boolean" name="sos" value="<%=r.q_3%>"> -->
			</p>
			<p>
				<label class="lbl">Can people rely on you?</label>
				<input type="range" id="start" name="sos4"
				 min="0" max="100" value = "<%=r.n_4%>">
				 <script>
						getElementById("start").ionRangeSlider({
							min: 0,
							max: 100,
							from: 550
						});
					</script>
				<!-- <input type="boolean" name="sos" value="<%=r.q_4%>"> -->
			</p>
			<p>
				<label class="lbl">Are you introverted?</label>
				<input type="range" id="start" name="sos5"
				 min="0" max="100" value = "<%=r.n_5%>">
				 <script>
						getElementById("start").ionRangeSlider({
							min: 0,
							max: 100,
							from: 550
						});
					</script>
				<!-- <input type="boolean" name="sos" value="<%=r.q_5%>"> -->
			</p>
			<!-- <p>
				<label class="lbl">Are you a determined person?</label>
				<input type="boolean" name="sos" value="<%=r.q_9%>">
			</p>
			<p>
				<label class="lbl">Do you think you have an unusual personality?</label>
				<input type="boolean" name="sos" value="<%=r.q_10%>">
			</p>
			<p>
				<label class="lbl">Do you watch movies on the plane?</label>
				<input type="boolean" name="sos" value="<%=r.q_11%>">
			</p>
			<p>
				<label class="lbl">Do you consider yourself selfish?</label>
				<input type="boolean" name="sos" value="<%=r.q_12%>">
			</p>
			<p>
				<label class="lbl">Are you a dog person?</label>
				<input type="boolean" name="dri" value="<%=r.q_2%>">
			</p>
			<p>
				<label class="lbl">Snacks or meals?</label>
				<input type="boolean" name="smo" value="<%=r.q_3%>">
			</p> -->
		</div>

		<!-- <div class="personality">
			<h1> My Personality</h1>
			<form name="qus" action="/profile" method="post">
			<p>
				<label class="lbl">Are you a talkative person?</label>
				<input type="boolean" name="sos" value="<%=r.q_1%>">
			</p>
			<p>
				<label class="lbl">Do you drink on the plane?</label>
				<input type="boolean" name="dri" value="<%=r.q_2%>">
			</p>
			<p>
				<label class="lbl">Are you a smoker?</label>
				<input type="boolean" name="smo" value="<%=r.q_3%>">
			</p>
		</div> -->

		<div class = "profile" >
			<h1> My Profile </h1>
				<img src="empty-avatar.png" alt="avatar" class="avatar">
			<form name="profile" action="/profile" method="post">
			<p>
				<label class="lbl">Name </label>
				<input type="text" name="Name" value="<%=r.name%>">
			</p>
			<p>
				<label class="lbl">Description </label>
				<input type="text" name="description" value="<%=r.description%>">
			</p>
			<p>
				<label class="lbl">Username</label>
				<input type="text" name="Username" value="<%=r.username%>" readonly>
			</p>
			<p>
				<label class="lbl">Email Address</label>
				<input type="text" name="email" value="<%=r.email%>" readonly>
			</p>
			<p>
				<label class="lbl">Age</label>
				<input type="text" name="Age" value="<%=r.age%>">
			</div>

			<div class = "actions">
					<button id="update" class="update">Update</button>
				</form>
					<button style="background-color:#1b3b63;color:white;
					height:40px;" id="logout" class="logout">Logout</button>
					<button id="ViewTicket" class="ViewTicket" >Add Ticket</button>
					<script type="text/javascript">
							onLoad();
							function signOut() {
							  var auth2 = gapi.auth2.getAuthInstance();
							  auth2.signOut().then(function () {
								console.log('User signed out.');
							  });
							}

							function onLoad() {
								console.log("loading profile")
							  gapi.load('auth2', function() {
								gapi.auth2.init();
							  });
							}

							document.getElementById("logout").onclick = function () {
								signOut();
								location.href = "logout";
							};
					</script>

					<script type="text/javascript">
							document.getElementById("ViewTicket").onclick = function () {
									location.href = "add-ticket";
							};
					</script>
				</div>

		<div class="header_tickets"><h1>My Tickets</h1></div>
		<div class="horizantalSlider">
		<%for (i=0; i < c.length; i++){ %>
					<%b = c[i];%>
		<div class = "tickets" >
			<h2><h2>

				<label class="lbl">Flight #</label>
				<input type="text" name="flightno" value="<%=b.flightno%>"readonly>
			</p>
			<p>
				<label class="lbl">From </label>
				<input type="text" name="countryfrom" value="<%=b.countryfrom%>"readonly>
			</p>
			<p>
				<label class="lbl">To </label>
				<input type="text" name="countryto" value="<%=b.countryto%>"readonly>
			</p>

			<p>
				<label class="lbl">Airline </label>
				<input type="text" name="Airline" value="<%=b.airline%>"readonly>
			</p>
			<p>
				<label class="lbl">Date </label>
				<input type="text" name="date" value="<%=b.date%>"readonly>
			</p>
			<p>
				<label class="lbl">time</label>
				<input type="text" name="time" value="<%=b.time%>"readonly>
			</p>

		</div>
		<% } %>
		</div>
			<p class="citation">Photo by Gary Lopater on Unsplash</p>

			<style>
				body {text-align: center;}
				img.bg {
				    min-height: 100%;
				    min-width: 1024px;
				    width: 100%;
				    height: auto;
				    position: fixed;
				    top: 0;
				    left: 0;
				    z-index: -5;
				}
				fieldset{
					font-family: "Lato";
          width: 400px;
          box-sizing: border-box;
          background: rgba(230, 230, 230, 0.6);
				  border: 20px;
				  margin:auto;
				  margin-top: 5px;
				}

				.citation{
				  color: lightgrey;
				  position: fixed;
				  bottom: 0;
				  right: 0;
				}
				label.lbl{
					float: left;
				}
				.actions button {
				width: 100px;
				background-color: #4CAF50;
				border: none;
			  color: white;
			  padding: 1px 3px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 18px;
				}
				input{
					font-family: "Lato";
					font-size: 16pt;
					width: 100%;
				  padding: 12px 20px;
				  margin: 8px 0;
				  box-sizing: border-box;
					box-sizing: border-box;
				}
				.header_tickets h1 {
					box-sizing: border-box;
					padding: 20px;
					background: rgba(27, 59, 99, 0.7);
					color: white;
					font-size-adjust: auto;
				  font-family: 'Helvetica Neue';
					text-align: center;

					border-radius: 20px;
					width: 70vw;
					margin: auto;
					margin-top: 20px;
				}
				.header_tickets h1:hover {
					color: lightblue;
					background: rgba(27, 59, 99, 0.9);
				}
				.profile{
				font-size: 21pt;
				font-family: "Lato";
        width: 400px;
        box-sizing: border-box;
        background: rgba(230, 230, 230, 0.6);
				margin-left: 50px;
			  margin-top: 5px;
				text-align: center;
				padding: 10px;
				float: none;
				border-radius: 42px;
				}
				.personality{
				font-size: 16pt;
				font-family: "Lato";
        width: 500px;
        box-sizing: border-box;
        background: rgba(230, 230, 230, 0.6);
				margin-left: 150px;
			  margin-top: 5px;
				text-align: center;
				padding: 30px;
				float: right;
				border-radius: 42px;
				}
				.avatar{
				  margin-top: 30px;
				  width: 13rem;
				  height: 13rem;
				  border-radius: 4rem;
				}

				.tickets{
				font-family: "Lato";
        width: 400px;
        box-sizing: border-box;
				border-radius: 42px;
			  padding: 30px;
			  margin: -101px;
        background: rgba(50,205,50, 0.42);
				float: left;
			  margin-left: 250px;
				transform: rotate(90deg);
				transform-origin: right-top;
				border-radius: 50px;
			}
				.horizantalSlider{
				float: none;
				width: 87vh;
				height: 80vw;
				overflow-y: auto;
				overflow-x: auto;
				transform: rotate(-90deg) translateY(-42vw);
				transform-origin: right top;
				}
				.qus{
					font-size:20pt;
					font-family: "Lato";
          width: 400px;
          box-sizing: border-box;
          background: rgba(230, 230, 230, 0.6);
				  border: 20px;
					margin:auto;
				  margin-top: 5px;
					text-align: center;
					padding: 30px;
					float:left;
				}
				.actions{
					box-sizing: border-box;
          background: rgba(230, 230, 230, 0.6);
					width: 320px;
					text-align: center;
					font-family: "Lato";
					margin:auto;
					margin-top: -100px;
					margin-bottom: 100px;
					text-align: center;
					border-radius: 10px;
				}
			</style>
	</body>
</html>
