<!DOCTYPE html>

<html>

<head>
  <% include ../partials/header.ejs %>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/popupchat.ejs %>
  <section class="WelcomeSection">
    <h1>Welcome to SkyPal</h1>
    <a href="#ticketsearch"><button type="button" name="button" class="textButton">Start your journey</button></a>
  </section>

  <section id="ticketsearch" class="TicketSearch">
    <div class="topMargin">
      <fieldset class="TransparentBar">
        <form action="/" method="post" >
          <p class="inpuGrp">
          <label class="topLeftLbl">From</label>
          <select type="text" name="origin" class="MedInput" placeholder="City or town">
            <option value="YVR">Vancouver (YVR)</option>
    	      <option value="KBP">Kyiv (KBP)</option>
    	      <option value="YYC">Calgary (YYC)</option>
            <option value="YYZ">Toronto (YYZ)</option>
            <option value="SEA">Seattle (SEA)</option>
            <option value="LHR">London (LHR)</option>
            <option value="SVO">Moscow (SVO)</option>
            <option value="JFK">New York (JFK)</option>
            <option value="LAX">Los Angeles (LAX)</option>
            <option value="DEN">Denver (DEN)</option>
            <option value="OSL">Oslo (OSL)</option>
            <option value="TXL">Berlin (TXL)</option>
            <option value="AMS">Amsterdam (AMS)</option>
            <option value="Yul">Montreal (YUL)</option>
    	    </select>
          </p>
          <p class="inpuGrp">
          <label class="topLeftLbl">To</label>
          <select type="text" name="destination" class="MedInput" placeholder="City or town">
            <option value="YVR">Vancouver (YVR)</option>
    	      <option value="KBP">Kyiv (KBP)</option>
    	      <option value="YYC">Calgary (YYC)</option>
            <option value="YYZ">Toronto (YYZ)</option>
            <option value="SEA">Seattle (SEA)</option>
            <option value="LHR">London (LHR)</option>
            <option value="SVO">Moscow (SVO)</option>
            <option value="JFK">New York (JFK)</option>
            <option value="LAX">Los Angeles (LAX)</option>
            <option value="DEN">Denver (DEN)</option>
            <option value="OSL">Oslo (OSL)</option>
            <option value="TXL">Berlin (TXL)</option>
            <option value="AMS">Amsterdam (AMS)</option>
            <option value="Yul">Montreal (YUL)</option>
    	    </select>
          </p>
          <p class="inpuGrp">
          <label class="topLeftLbl">DepartureDate</label>
          <input type="date" name="date" class="MedInput" placeholder="date">
          <button type="submit" name="submit" class="inBoxBtn">submit </button>
          </p>
        </form>
      </fieldset>
    </div>
        <%if(message){%>
      <h1><%=message%></h1>
      <%}
      else{%>

    <div class="slider">
    <%for (i=0; i < n.length; i++){ %>
					<% m = n[i];
              u = user_for_match[i]%>

    <!-- slider for differernt cards -->

        <div class="InfoCard">
          <% if(users) {%>
          <p>Travel Match: <font color="red"><%=percentmatch[i]%>%</font></p>
          <%} else {%>
          <p><font color="red"><%=percentmatch[i]%></font></p>
          <% } %>
          <img src="empty-avatar.png" alt="avatar" class="avatar">
          <p><%=m.fname%></p>
          <p><%=u.description%></p> <br>
          <p>Flying Economy Class via <%=m.airline%></p>
          <a target="_blanc" href="https://www.google.com/flights#flt=<%=m.countryfrom%>.<%=m.countryto%>.<%=m.date%>;c:CAD;e:1;sd:1;t:f;tt:o"><button id="DynamicSubmitBtn" class="DynamicSubmitBtn">Book this flight with <%=m.fname%></button></a>
        </div>

      <% }} %>
      </div>

  </section>
</body>
</html>
